.brands {
}
.subtitle {
    margin: 16px 0;
    padding: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFF 100%);
    border-top: 1px solid #D9FFF5;;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.button-next {
}
.swiper-pagination {
}
