.brands {
  .swiper {
    &-wrapper {
    }
    &-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 224px;
    }
    .button-next {
    }
    &-pagination {
    }
  }
}
.subtitle {
  margin: 16px 0;
  padding: 16px;
  background: linear-gradient(270deg, #f8f8f8 0%, #fff 100%);
  border-top: 1px solid #d9fff5;
}
