.footer {
  // .footer__content
  &__content {
    p {
      padding: 16px 0;
    }
    .footer__btn {
      width: 200px;
      font-size: 16px;
    }
  }

  // .footer__info

  &__info {
    margin-top: 40px;
    border-top: 1px solid #d9fff5;
    text-align: center;
    p {
      padding: 8px 0;
    }
  }
}

@media (min-width: 768px) {
  footer {
    width: 768px;
    margin: 0 auto;
  }
  .footer__info {
    display: flex;
    gap: 40px;
    padding-top: 32px;
    p {
        width: 30vw;
    }
    p:first-child{
        text-align: left;
    }
    p:last-child{
        text-align: right;
    }
  }
}
