.footer {
  // .footer__content
  &__content {
      padding: 0 16px;
      p {
          padding: 16px 0;
        }
        .footer__btn {
        width: 200px;

    }
  }

  // .footer__info

  &__info {
    margin-top: 40px;
    border-top: 1px solid #D9FFF5;;
    text-align: center;
    p {
        padding: 8px 0;
    }
  }
}
