.footer {
  // .footer__content
  &__content {
    padding-left: 16px;
    max-width: 288px;
    p {
      padding: 16px 0;
    }
    button {
      padding: 0;
    }
    .footer__btn {
      width: 187px;
      img {
      }
      span {
        font-size: 16px;
      }
      text-align: left;
    }
  }

  // .footer__info

  &__info {
    padding: 0 16px;
    font-size: 14px;
    margin-top: 40px;
    border-top: 1px solid #d9fff5;
    text-align: center;
    p {
      padding: 8px 0;
    }
  }
}

@media (min-width: 768px) {
  footer {
  }
  .footer {
    width: 768px;
    margin: 0 auto;

    &__content {
      padding-left: 24px;
      max-width: 421px;
      .footer__btn {
        display: flex;
        align-items: center;
        width: 360px;
        img {
          padding: 0;
        }
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      padding: 32px 24px 0 24px;
      p {
        width: 213px;
      }
      p:first-child {
        text-align: left;
      }
      p:last-child {
        text-align: right;
      }
    }
  }
}

@media (min-width: 1426px) {
  footer {
    margin: 0;
  }
  .footer {
    width: 100vw;
    // .footer__content
    
    &__content {
      padding-left: 31px;

    }

    // .footer__btn

    &__btn {
    }

    // .footer__info

    &__info {
      padding: 32px 33px 21px 33px;
    }
  }
}
