@media (min-width: 320px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #d9fff5;
    padding: 18px 16px;
    &-burger {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &__item {
    }
    &__item--line-tb {
      display: none;
      width: 2px;
      height: 32px;
      border-radius: 1px;
      background: #eaeaea;
    }
    &__item--mb {
      display: none;
    }
    &__item--line-mb {
      width: 2px;
      height: 32px;
      border-radius: 1px;
      background: #eaeaea;
    }
    &-services {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {

		// .navbar__item

		&__item {
		}

		// .navbar__item--line-tb

		&__item--line-tb {
      display: block;
		}

		// .navbar__item--mb

		&__item--mb {
      display: block;
		}

		// .navbar__item--line-mb

		&__item--line-mb {
		}
}
.navbar-burger {
}
.navbar-services {
}

}

@media (min-width: 1426px) {
  .navbar {
    // .navbar__item

    &__item {
    }

    // .navbar__item--line-tb

    &__item--line-tb {
    }

    // .navbar__item--mb

    &__item--mb {
    }

    // .navbar__item--line-mb

    &__item--line-mb {
    }
  }
  .navbar-burger {
  }
  .navbar-services {
  }
}
