.price {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 240px;
    height: 200px;

    &__time {
      display: flex;
      justify-content: space-between;
      gap: 28px;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background: #ff3e79;
    color: white;
  }
  .price-content-wrapper {
  }
  &-content-wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .price-content-wrapper {
    display: block;
    width: 720px;

    margin: 24px auto;
  }

  .price-content {
    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
    }

    th{
      padding: 23px 16px;
      text-align: left;
    }

    td {
      border-bottom: 1px solid #ddd;
      background: #fff;
      padding: 23px 16px;
      border-radius: 6px;
    }

    .tr-no-line {
      td {
        border: none;
      }
    }
  }
}

@media (min-width: 1426px) {
  .price {
  }
  .subtitle {
  }
  .swiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    // .swiper-slide__service

    &__service {
    }

    // .swiper-slide__price

    &__price {
    }

    // .swiper-slide__time

    &__time {
    }
  }
  .swiper-pagination {
  }
  .price-content-wrapper {
    width: 1050px;
    margin: 24px auto;
  }
  .price-content {
    margin: 0;
  }
  .tr-no-line {
  }
}
