.services {
  .title {
    padding-left: 16px;
    margin: 24px 0;
    border-left: 4px solid rgba(65, 246, 215, 1);
  }
  &-nav {
    // .services-nav__item
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 24px 0 24px 16px;
    a {
      font-size: 16px;
      text-decoration: none;
      color: #7e7e82;
      padding: 8px 9px 8px 16px;
      border: 2px solid #f8f8f8;
    }
    a:hover {
      text-decoration: none;
      color: #7e7e82;
      font-size: 16px;
      padding: 8px 9px 8px 16px;
      background: #ffffff;
      border: 2px solid #b8ffec;
      border-radius: 6px;
      transition: 0.25s;
    }
    &__item {
    }

    // .services-nav__item--dt

    &__item--dt {
      display: none;
    }
  }
  &-content {
    &__text {
      margin: 0 16px 16px 16px;
      font-size: 14px;
    }

    // .services-content__mb

    &__mb {
    }
    &__tb {
      display: none;
    }
    &__dt {
      display: none;
    }

    // .services-content__btn

    &__btn {
      margin: 16px 0;
      cursor: pointer;
      display: flex;

      img {
      }
      button {
        font-size: 16px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    // .services-content__img

    &__img {
    }
  }
}

@media (min-width: 768px) {
  .services {
    &-content {
      display: flex;
      justify-content: space-between;
      max-width: 768px;
      margin: 0 auto 30px auto;
      &__text {
        width: 50%;
      }
      &__img {
        img {
          width: 360px;
          border-radius: 6px;
        }
      }
    }
    &-content__tb {
      display: block;
    }
  }
}
