.swiper {
  padding-left: 16px;

  &-wrapper {
    display: flex;
    padding: 0 0 40px 0;
  }

  &-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 224px;
    min-height: 72px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgba(234, 234, 234, 1);
  }
  .button-next {
    cursor: pointer;
  }
}

.swiper-pagination {
  --swiper-pagination-bullet-size: 12px;
}
