.technique {
  .swiper {
    &-wrapper {
    }
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 210px;
    height: 160px;
    img {
      align-self: end;
    }
  }

  &-content-wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
  .technique-content-wrapper {
    display: block;
    width: 768px;
    margin: 0 auto;
  }
  .technique-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 24px;
  }
  .technique-content-item {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 190px;
      height: 160px;
      padding: 0 16px;
      background-color: white;
      border-radius: 6px;
      border: 1px solid rgba(234, 234, 234, 1);
      img {
        align-self: end;
      }
    }
  }
  .swiper-slide {
    padding: 0;
    p {
      padding-left: 16px;
    }
    img {
      padding-right: 16px;
    }
  }
  #technique-btn {
    display: block;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px 0 0 12px;
    font-size: 16px;
  }
  #technique-btn-dt {
    display: none;
  }
}

@media (min-width: 1426px) {
  .technique {
  }
  .technique-content-item {
    &__wrapper {
      width: 206px;
    }
  }
  .subtitle {
  }

  .swiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .swiper-pagination {
  }
  .technique-content-wrapper {
    width: 1050px;
    margin: 24px auto;
  }
  .technique-content {
    width: 1060px;
    gap: 32px;
    margin-left: 0;
  }
  #technique-btn {
    display: none;
  }
  #technique-btn-dt {
    display: block;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px 0 0 0;
    font-size: 16px;
  }
}
