@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "./components/_swiper.scss";
@import "./components/_header.scss";
@import "./components/services";
@import "./components/brands";
@import "./components/technique";
@import "./components/price";
@import "./components/footer";

.header {
  text-align: center;
  & img {
    width: 30%;
  }
}

.welcome-title {
  margin-top: 50px;
  font-size: 6em;
}
